<div class="container">
    <div class="container__header">
        <b>Usuário</b>
    </div>
    <div class="container__body">
        <form [formGroup]="formDefinition.formGroup" (ngSubmit)="save(formDefinition.formGroup.value)">
            <div class="form-group" *ngFor="let field of formDefinition.fields">
                <label class="form-label">
                    {{field.nickname}}:
                </label>
                <input class="form-control" type="{{field.type}}" formControlName="{{field.name}}" placeholder="{{field.placeholder}}">
                <div *ngFor="let error of formDefinition.formGroup.get(field.name).errors" class="invalid-feedback">
                    <i class="fas fa-exclamation-circle"></i>
                    {{error}}
                </div>
            </div>
            <div class="form-buttons">
                <button class="btn btn-success" type="submit" [disabled]="!formDefinition.formGroup.valid">
                    <i class="far fa-dot-circle"></i><span class="btn-text">Salvar</span></button>
                <button *ngIf="isNew" class="btn btn-danger" type="reset">
                    <i class="fa fa-ban"></i><span class="btn-text">Resetar</span></button>
                <button *ngIf="!isNew" class="btn btn-danger" type="button" (click)="remove()">
                    <i class="fa fa-times"></i><span class="btn-text">Remover</span></button>
            </div>
        </form>
    </div>
</div>