// Fonts
$font-size: .875rem;
$font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
$line-height: 1.45;

// Colors
$white: #FFF;
// $black: #333333;
$black: #35363a;
$black-secondary: #5a5a5a;
$black-tertiary: #666666;
$gray: #e4e5e6;
$gray-secondary: #f0f3f5;
$font-color-primary: #252525;
$font-color-secondary: $white;
$border-gray: #c8ced3;
