<div class="container">
    <div class="container__header">
        <span class="fas fa-align-justify"></span>
        <span class="header__title">{{listDefinition.title}}</span>
    </div>
    <div class="container__body">
        <table class="list">
            <tr class="list__row">
                <th class="list__header" *ngFor="let column of listDefinition.columns">{{column.nickname}}</th>
            </tr>
            <tr class="list__row" *ngFor="let data of listDefinition.dataSource" (click)="goToRegister(data.id)">
                <td class="list__data" *ngFor="let column of listDefinition.columns">
                    {{data[column.name]}}
                </td>
            </tr>
        </table>
    </div>
</div>